.form {
    /* background-color: wheat;    */
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    margin-bottom: 120px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showTable {
    margin: auto;
    width: 90%;
}

table {
    margin-top: 30px;
}

.site-content .ast-container {
    display: block;
}

.error{
    color: red;
}